* {
    /* Свойства для сброса начальных стилей элементов */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

header {
    /* Стили для хедера */
    background: #2965f1;
    width: 1440px;
    height: 70px;
    padding: 24px 0;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    /* Стили для первой секции */
    background-color: #fafaff;;
    padding: 60px 0;
    height: 100%;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
    font-weight: 400;
    font-size: 18px;
}

.main-image {
    /* Стили для изображения в первой секции */
    max-width: 715px;
}


.about-section {
    /* Стили для второй секции */
    background-color: #fff;
    padding: 100px 0;
}

select {
    /* Стили для выпадающего списка */
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
    padding: 8px 12px;

    font-weight: 400;
    font-size: 16px;
    background: url(./assets/images/arrow-down.svg) no-repeat right 12px top 50%; /*как сделать отступ справа от стрелки?*/
    appearance: none;
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-weight: 700;
    font-size: 24px;
    color: #303030;
    margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    list-style-image: url(./assets/images/Vector.svg);
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
}

.label {
    /* Стили для подписей чекбоксов */
    font-weight: 400;
    font-size: 16px;
}

.text-field {
    /* Стили для односточного поля ввода текста */
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    height: 36px;
    padding-left: 12px;
}

.btn {
    /* Стили для кнопки */
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background-color: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border: none;
}

.line {
    /* Стили для линии */
    margin: 60px 0;
}

table {
    /* Стили для таблицы */
    width: 300px;
    height: 196px;
    border-collapse: collapse;
}

th, td {
    /* Стили для ячеек таблицы */
    border: 1px solid #95a1bb;
    padding: 15px 11px;
}

footer {
    /* Стили для футера */
}

.footer-link {
    /* Стили для футера */
}